.jumbotron{
  background: url("../image/paddle.jpg");
  background-position: center;
  margin-top:2%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.jumbotron-transparent{
  background: url("../image/paddle.jpg");
  background-position: center;
  margin-top:2%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
.fixed-top{
  padding-right: 0;
  padding-left: 0;
  opacity: 1;
}
.header-word{
  background-size: 30px,20px;
}
.header-word:hover {
  color: #D6B831;
}
.body-main{
  margin-top: 11em;
}
.main1{
  text-align: center;
  margin-top: 2%;
  height: 40vh;
  background-color: #D6B831;
  padding-top: 1%
}
.main1{
  float: left;
}
.pp-rules{
  float: right;
}
.content{
  padding-top: 2%;
  background-color: lightgrey;
}
.ping-pong {
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
}
.btn-default:hover {
  background: #D6B831;
  font-family: monospace;
}
p {
  font-size: 1em;
}
#result-list {
  background-color: #D6B831;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  list-style-type: none;
  color: white;
  border: solid 3px white;

}
#result-list li:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.footer {
  background-color: black;
  padding: 2.5em 0em 1.5em 0em;
  text-align: center;
  color: #D6B831;
}
